<nav class="navbar navbar-light shadow-sm fixed-bottom border-top">
  <div class="container justify-content-center">
    <ul class="navbar-nav d-flex flex-row justify-content-center align-items-center gap-5 mb-0">
      <li class="nav-item">
        <%= link_to root_path, class: "nav-link" do %>
          <i class="bi bi-house-door fs-4 btn rounded-5"></i>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to "#", class: "nav-link" do %>
          <i class="bi bi-book fs-4 btn"></i>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to "#", class: "nav-link" do %>
          <i class="bi bi-search fs-4 btn"></i>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to profile_path, class: "nav-link" do %>
          <i class="bi bi-person fs-4 btn"></i>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to "#", class: "nav-link" do %>
          <i class="bi bi-gear fs-4 btn"></i>
        <% end %>
      </li>
    </ul>
  </div>
</nav>

<!-- HOW TO DISCONNECT A USER FROM SESSION -->
<!-- <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do %>
<% end %> -->
