
<div class="container">
  <div class="card shadow-sm rounded-5 my-4 p-4">
    <h1 class="display-3 text-center mt-4 mb-5">🦸‍♂️SuperCarbo🦸‍♀️</h1>

    <h2 class="display-6 mb-4"><%= @chat.title %></h2>

    <div id="messages">
      <% @chat.messages.each do |message| %>
        <% if message.role == "user" %>
          <div class="d-flex justify-content-start mb-3">
            <div class="bg-light border rounded-3 shadow-sm p-3 me-auto rounded-5" style="max-width: 70%;">
              <%= markdown(message.content) %>
            </div>
          </div>
        <% elsif message.role == "assistant" %>
          <div class="d-flex justify-content-end mb-3">
            <div class="bg-success-subtle border border-success-subtle rounded-3 shadow-sm p-3 ms-auto rounded-5" style="max-width: 70%;">
              <%= markdown(message.content) %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div id="new_message_container">
      <%= simple_form_for [@chat, @message] do |f| %>
        <%= f.input :content, label: false, required: true, placeholder: "How can I help you?", innerHTML: { class: "muted-text"} %>
        <%= f.button :submit, 'Ask LLM', class: 'btn btn-success mb-2' %>
      <% end %>
    </div>
  </div>
</div>
